{% extends 'base.html' %}
{% load static %}

{% block title %}Clothes list{% endblock %}

{% block content %}
<div class="list-container">
    <h2>Clothes list</h2>
    <ul>
        {% for clothing in all_the_clothes %}
            <div class="list-item">
                <a href="{{ clothing.id }}/" class="clothing-title"><b>{{ clothing.name }}</b></a><br>
                {{ clothing.description }} / {{ clothing.color }} / {{ clothing.collection }} / {{ clothing.size }} / {{ clothing.type }}<br>
                <br>
            </div>
        {% endfor %}
    </ul>
    <a href={% url 'clothing-create' %}>Add a new Clothing</a><br>
</div>
{% endblock %}