{% extends 'base.html' %}
{% load static %}

{% block title %}Add Clothing{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <h2>Add Clothing</h2>
            <form method="POST">
                {% csrf_token %}   
                {{ form.as_p }}
                <button type="submit">Add Clothing</button>
            </form>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <p>You must log in to add games</p>
            <a href="{% url 'login' %}">Login</a>
        {% endblock %}
    {% endif %}
{% endblock %}