* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

@font-face { font-family: Poppins; src: url("{% static 'font/poppins-regular-webfont.woff' %}") format("woff"); }
@font-face { font-family: Poppins; src: url("{% static 'font/poppins-medium-webfont.woff' %}") format("woff"); font-weight: 500; }
@font-face { font-family: Poppins; src: url("{% static 'font/poppins-bold-webfont.woff' %}") format("woff"); font-weight: 600; }

li,a,button {
    text-decoration: none;
    font-family: Poppins;
    color: #464443;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav__links ul{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:#928E8E;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 6px;
}

#login__bttn {
    background-color: #ffffff;
}

#register__bttn {
    color: #ffffff;
    background-color: #464443;
}

#logo__header {
    width: 170px;
    height: 60px;
}

#cart__header {
    margin-top: 15px;
    width: 40px;
    height: 40px;
}
