
.sidenav {
    height: 100%; 
    width: 180px;
    position: fixed; 
    z-index: 1; 
    top: 10%;
    left: 85px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #464443;
    display: block;
  }
 
  .sidenav a:hover {
    color: #928E8E;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .list-container {
      margin-left: 200px;
  }

  .list-item {
    position: relative;
    width:250px;
    float: left;
    padding: 20px;
    margin: 20px;
  }

  .list-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .list-item b {
    padding: 5px;
  }

  .list-item p {
    padding-left: 5px;
  }

  b {
    font-family: Poppins;
  }

  .clear {
    clear: both;
  }

  .txt__input {
    width: 300px;
    height: 30px;
    color: #434346;
    border: 1px solid;
    border-color: #afa8a5;
    padding-left: 5px;
    margin-bottom: 10px;
    background-color: #e9e9f0;
}

.label__input {
  display:none;
}