{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}fashvio{% endblock %}
{% block hero %}
    <div class="hero__section">
        <div class="header__container">
            <h1 id="hero__hdrtxt">Find Your New Favorite<br> 
                Collection At Winter<br>
                Sale 2022<h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class='trending__card'>
        <h1 id='trending__heading'>Trending Clothes</h1>
        <div class='trending__item'>
            <img src="{% static 'img/trending_placeholder.svg' %}" style="width:30%; float:left;">
            <div class='trending__txt'>
                <h2>Title</h2>
                <p>orem ipsum dolor sit amet, adipiscing elit. Nunc dolor nulla</p>
                <p>15,99 €</p>
            </div>
        </div>
        <div class='trending__item'>
            <img src="{% static 'img/trending_placeholder.svg' %}"style="width:30%; float:left;">
            <div class='trending__txt'>
                <h2>Title</h2>
                <p>orem ipsum dolor sit amet, adipiscing elit. Nunc dolor nulla</p>
                <p>15,99 €</p>
            </div>
        </div>
    </div>
    <div class='company__section'>
        <div class="column">
            <img src="{% static 'img/company1.png' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/company2.png' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/company3.png' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/company4.png' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/company5.png' %}" style="width:100%">
        </div>
    </div>
    <div class="clearfix"></div>

    <div class='sex__selection'>
        <div class='sex__card'>
            <h2>Womans Clothing Catalog</h2>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor nulla, </p>
            <a>View Catalog -></a>
        </div>
        <div class='sex__card'>
            <h2>Mans Clothing Catalog</h2>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor nulla, </p>
            <a>View Catalog -></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="cta__section">
        <h1>You want more?<br>
            Join Our Newsletter Today!</h1>
        <a href="{% url 'signup' %}">
            <button>Join now</button>
        </a>
    </div>
{% endblock %}

{% block footer %}
    <div class='footer__section'>
        <div class='footer__content'>
            <img src="{% static 'img/trending_placeholder.svg' %}" style="width:20%; height:20%; float:left;">
            <table>
                <tr>
                <th>Adress</th>
                <th>Shop</th>
                <th>Help</th>
                <th>Sign up now!</th>
                </tr>
                <tr>
                <td rowspan = "4">Lorem Ipsum</td>
                <td>New In</td>
                <td>My Account</td>
                <td rowspan = "4">Become a member now
                    and get exclusive offers 
                    only for you. </td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>Contact Us</td>
                </tr>
                <tr>
                    <td>Woman</td>
                    <td>Terms of Use</td>
                </tr>
                <tr>
                    <td>Man</td>
                    <td>Privacy and Cookies Policy</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

